.abilities-container {
    flex-direction: column;
    align-items: center;

    & h1 {
        font-size: 72px;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px; /*5vw;*/
    margin-top: 30px;
}
