.experience-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    background-color: var(--neutral-color-0);
    border-radius: 3vw;
    padding: 1.5vw;
    max-height: 90vh;
    margin-bottom: 20vh;
}

.adjust-height {
    height: 70vh;
}

.exp-img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.5vw;
    min-height: 0;
    /*height: min-content;*/

    & .img-container {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        min-height: 0;
        border-radius: 30px;
        overflow: hidden;
        /* Bereitet die GPU gezielt auf diese Animationen vor */
        will-change: transform, opacity;

        /* Erzwingt 3D-Rendering für Hardware-Beschleunigung */
        transform: translateZ(0);
        backface-visibility: hidden;
    }

    & img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        min-height: 0;
        object-fit: cover;
        /*border-radius: 30px;*/
    }
}

.right-align {
    order: 2;
}

.big-vertical-img {
    grid-row: span 2;
}

.big-horizontal-img {
    grid-column: span 2;
}

.exp-text-container {
    font-family: var(--manrope-font);
    font-weight: bold;
    color: var(--neutral-color-2);
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.exp-header {
    font-size: 1.5vw;
}

.exp-title {
    font-size: 3vw;
    line-height: 3.5vw;
}

.exp-description {
    /*list-style-type: disc; /* Ändert Punkte zu Quadraten */
    /*padding-left: 20px;      /* Platz für die Punkte schaffen */
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 1.2vw;
    margin-top: 1vw;
    margin-bottom: auto;


    & .line {
        display: flex;
        flex-direction: row;
    }

    & .marker {
        border-radius: 50%;
        background: var(--neutral-color-2);
        width: 7px;
        height: 7px;
        margin-left: 12px;
        margin-right: 10px;
        margin-top: 0.5em;
        flex-shrink: 0;
    }

    /*& li::marker {

        color: var(--marker-color);
        font-weight: bold;
        opacity: var(--marker-opacity);
        transform: translateY(var(--marker-y-percent));
    }*/
    & span {
        color: var(--primary-color-0);
    }
}

.exp-tech-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    font-family: var(--sofia-condensed-font);
    font-weight: normal;
}

.dali-ref {
    cursor: pointer;

}

@media screen and (max-width: 767px) {
    .experience-card {
        margin-bottom: 5vh;
    }
}
@media screen and (max-width: 1024px) {
    .experience-card {
        grid-template-columns: 1fr;
        max-height: 90vh;
    }

    .adjust-height {
        height: auto;
        width: 100%;
    }

    .right-align {
        order: 0;
    }

    .exp-header {
        font-size: 18px;
    }

    .exp-title {
        font-size: 26px;
        line-height: 27px;
    }

    .exp-description {
        font-size: 16px;
        margin-bottom: 2vw;
    }

    .dali-ref {
        height: 30vh;
    }
}

@media screen and (min-width: 1330px) {
    .adjust-height {
        height: 75vh;
    }
}

@media screen and (min-width: 1560px) {
    .adjust-height {
        height: 80vh;
    }
}
