.scroll-container {
   /* display: flex;
    flex-direction: row;
    padding: 5px;*/
    position: absolute;
    bottom: 1vw;
    margin-left: auto;
    margin-right: auto;
    /*border-radius: 20px;
    border: 3px dashed var(--neutral-color-2);

    opacity: 0.5;
    box-shadow: 0 0 0 0 rgba(34, 209, 236, 0.7);*/ /* Deine Farbe */
    /*animation: pulse-ring-animation 1.5s infinite cubic-bezier(0.66, 0, 0, 1);*/

    & .text {
        font-family: var(--manrope-font);
        font-size: 1.5vw;
        color: var(--neutral-color-2);
    }
}

.scroll-elements {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 20px;
    opacity: 0.5;
    border: 3px dashed var(--neutral-color-2);
    box-shadow: 0 0 0 0 rgba(34, 209, 236, 0.7);
}

.scroll-icon {
    width: 2vw;
    height: 2vw;
    mask-image: var(--icon-url);
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-image: var(--icon-url);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    z-index: 1000;
    background-color: var(--neutral-color-2);
}

.pulse-ring {

}

@keyframes pulse-ring-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(34, 209, 236, 0.7);
        transform: scale(1);
        opacity: .3;
    }
    50% {
        transform: scale(1.05); /* Leicht vergrößern */
        opacity: 0.5;
    }
    70% {
        /* Der Schatten breitet sich aus und wird transparenter */
        box-shadow: 0 0 0 15px rgba(34, 209, 236, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(34, 209, 236, 0);
        transform: scale(1);
        opacity: .3;
    }
}

