.footer {
    position: relative;
    background-color: var(--neutral-color-0);
    z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    overflow: hidden;
    padding: 10px;
}

.policy-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--manrope-font);
    font-weight: bold;
    color: var(--neutral-color-2);
   /* width: 50%;
    height: 100%;
    padding: 10px;
    min-height: stretch;
    background-color: var(--neutral-color-0);*/
}

.policy-text {
    cursor: pointer;
    &:hover {
        color: var(--primary-color-0);
    }
}

.tech-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--manrope-font);
    font-weight: bold;
    color: var(--neutral-color-2);
    gap: 10px;
    /*width: 50%;
    height: 100%;
    padding: 10px;
    background-color: var(--neutral-color-0);*/
}


.tech-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    font-family: var(--sofia-condensed-font);
    font-weight: normal;
}

.tech-stack .tech-element {
    font-size: 1em;

    & img {
        width: 15px;
        height: 15px;
    }
}

.imprint-img-container {
    width: 200px;


    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.address-container {
    width: 160px;
    margin-top: 5px;
}

.tel-container {
    width: 125px;
}

.bildnachweise {
    margin-top: 5px;
}
