.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--neutral-color-0);
  font-family: sans-serif;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 1000;
  opacity: 1;
}

.banner-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%;
}

.banner {
  background-color: var(--neutral-color-2);
}

.name-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-family: var(--alexandria-font);
  font-weight:  bold;
  font-size: 5vw;
  color: var(--neutral-color-0);
}

.name-sub-container {
  position: relative;
}

.short-name {
  position: absolute;
  top: 0;
  opacity: 0;
}

.knockout-text-container {
  width: 100vw;
  height: 100vh;
  /*color: black;
  background-color: white;
  mix-blend-mode: lighten;
 font-family: var(--alexandria-font);
  font-weight: bold;
  font-size: 3.7vw;*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  z-index: 999;
  position: fixed;
  top: 0;
  overflow: hidden;
  background: transparent;
}


.knockout-svg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--alexandria-font), sans-serif;
  font-weight: bold;
  font-size: 3.7vw;
  text-anchor: middle;
  dominant-baseline: central;
}

/* Hier definierst du deine absolut blickdichte Wunschfarbe */
.mask-color-rect {
  fill: var(--neutral-color-2);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: #3b82f6;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
