.content-container {
    display: block;
    width: 100%;
    /*padding-top: var(--header-height);85.56deg*/
    position: relative;
    background: linear-gradient(90deg, var(--tertiary-color-0) -56.12%, var(--neutral-color-0) 37.12%);

}

.technical-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-image:
        linear-gradient(to right, rgba(22, 120, 128, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(22, 120, 128, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
}

.code-img-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    /*-webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 20%, rgba(0,0,0,0.3) 70%);
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 20%, rgba(0,0,0,0.3) 70%);*/
    opacity: 0.15;
    & img {
        opacity: 0.05;
    }
}

.top-glow {
    z-index: 900;
    pointer-events: none;
    cursor: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    inset: 0% auto auto 0%;
    box-shadow: inset 0 2px 30px rgba(123, 239, 255, 0.7), inset 0 2px 130px 8px rgba(46, 231, 255, 0.37);
}

.bg-spotlight {
    position: fixed;
    mask-image: radial-gradient(circle, transparent 0%, black 80%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    cursor: none;
    z-index: 10;
}


@media screen and (max-width: 1024px) {
    .code-img-container {
        background-size: 150% !important;
    }
}

@media screen and (max-width: 767px) {
    .code-img-container {
        background-size: 200% !important;
    }
}
