.content-container {
    display: block;
    width: 100%;
    /*padding-top: var(--header-height);*/
    position: relative;
    background: linear-gradient(85.56deg, var(--tertiary-color-0) -56.12%, var(--neutral-color-0) 37.12%);

}

.technical-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-image:
        linear-gradient(to right, rgba(22, 120, 128, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(22, 120, 128, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
}

.code-img-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    /*-webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 20%, rgba(0,0,0,0.3) 70%);
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 20%, rgba(0,0,0,0.3) 70%);*/
    opacity: 0.15;
    & img {
        opacity: 0.05;
    }
}
