:root {
  --neutral-color-0: #141417;
  --neutral-color-1: #F3F0F2;
  --neutral-color-2: #E5E1E4;
  --neutral-color-3: #929093;
  --neutral-color-4: #18181B;
  --neutral-color-5: #0B0B0D;
  --primary-color-0: #22D3EE;
  --primary-color-1: #B9CACB;
  --secondary-color-0: #26B885;
  --secondary-color-1: #C0FEDD;
  --secondary-color-2: #1BA476;
  --tertiary-color-0: #6366EA;
  --tertiary-color-1: #C0C1FB;

  --home-big-font: 'Archivo Black', sans-serif;
  --home-sub-font: 'Syne Variable', sans-serif;
  --aladin-font: 'Aladin', system-ui;
  --manrope-font: 'Manrope', sans-serif;
  --alexandria-font: 'Alexandria Variable', sans-serif;
  --space-grotesk-font: 'Space Grotesk Variable', sans-serif;
  --red-hat-font: 'Red Hat Text Variable', sans-serif;
  --sofia-condensed-font: 'Sofia Sans Condensed Variable', sans-serif;
  --letter-spacing: -0.02em;

  --header-height: 50px;


}

html, body {
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;
  box-sizing: border-box;
  min-height: 100%;
  height: auto;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  /*width: 100vw;
  height: 100vh;*/
  /*background-color: var(--neutral-color-0);*/
  /*background: linear-gradient(85.56deg, var(--tertiary-color-0) -56.12%, var(--neutral-color-0) 37.12%);*/
  /*overflow-x: hidden;
  overflow-y: auto;*/
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  /* Oft nicht nötig, da ul das meiste regelt */
}

a {
  text-decoration: none;
  color: inherit; /* Übernimmt die Textfarbe des Elternelements */
}


/* Gilt für die gesamte Seite */
::selection {
  background-color: var(--primary-color-0);
  color: var(--neutral-color-0);
}
::-moz-selection {
  background-color: var(--primary-color-0);
  color: var(--neutral-color-0);
}

h1 {
  margin: 0;
  font-family: var(--space-grotesk-font);
  font-weight: bold;
  font-size: 72px;
  color: var(--neutral-color-2);
  text-align: center;
}

h2 {
  margin: 0;
}

/* Breite der Leiste */
::-webkit-scrollbar {
  width: 10px;
}

/* Hintergrund der Leiste */
::-webkit-scrollbar-track {
  background: var(--neutral-color-0);
  border: 1px solid black;
  border-radius: 10px;
}

/* Der Griff */
::-webkit-scrollbar-thumb {
  background: var(--primary-color-0);
  border-radius: 10px;
}

/* Griff beim Drüberfahren */
::-webkit-scrollbar-thumb:hover {
  filter: drop-shadow(0 0 10px var(--primary-color-0));
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2vw 4vw;
  padding-top: calc(3vw + var(--header-height));
  box-sizing: border-box;
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  z-index: 200;
}


  /*section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


    background-image: inherit;
    background-repeat: repeat;
    background-size: 200px;
    background-attachment: fixed;

    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.3) 70%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.3) 70%);

    pointer-events: none;
  }*/
p {
  margin: 0;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
  position: relative;
  touch-action: none;
  -ms-touch-action: none;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
}

