.about-me-container {
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    padding-top: 10vw;
}

.spread-text {
    font-family: var(--manrope-font);
    font-size: 1vw;
    color: var(--primary-color-0);
    letter-spacing: 1.1vw;
}

.title-text {
    font-family: var(--space-grotesk-font);
    font-weight: 700;
    font-size: 8vw;
    color: var(--neutral-color-2);
}

.description {
    font-family: var(--alexandria-font);
    font-weight: bold;
    font-size: 1vw;
    color: var(--neutral-color-2);
    max-width: 50%;
}
